<aside class="sidebar">
    <div class="logo">
        <img src="<%= '/images/GlowSpace.png' %>" alt="GlowSpace Logo">
    </div>
    <a class="sidebar-link" href="/admin/dashboard" ><i class="bi bi-tools"></i> Dashboard</a>

    <a class="sidebar-link" href="/admin/profile" ><i class="bi bi-person"></i> Profile</a>
    <a class="sidebar-button" href="/admin/logout" ><i class="bi bi-box-arrow-left"></i> Logout</a>

</aside>