<%- include('./partials/header') -%>
    <%- include('./partials/navbar') -%>

        <div class="salon-header">
            <h1 class="salon-name-about">
                About Us
            </h1>
        </div>

        <div class="about-container">

            <div>

                <div class="salon-services">
                    <p>Welcome to Glowspace, your go-to place for finding and booking salons easily. Our platform
                        connects
                        you with salons in your area, providing all the details you need.</p>
                    <h2 class="salon-name-about">What We Offer</h2>
                    <ul>
                        <li>
                            <span class="service-name">Find Salons Easily</span>
                            <span>Search for salons by name or location</span>
                        </li>
                        <li>
                            <span class="service-name">Salon Details</span>
                            <span>View detailed information about each salon</span>
                        </li>
                        <li>
                            <span class="service-name">Reliable</span>
                            <span>Choose a salon, select a service, and book your appointment in a few clicks.</span>
                        </li>
                    </ul>
                    <br>
                    <p> <span class="service-name"> For Salon Owners</span>
                        Salon owners can create and manage their profiles, update contact details, services, prices, and
                        decide
                        what to show customers.</p>
                </div>
                <div class="salon-name-about">
                    <h4>
                        Find and book the best salons effortlessly. Start exploring now!
                    </h4>

                </div>
        </div>
        <div class="image-div">
            <img src="./images/salon.jpg" alt="salon" class="image-container">
        </div>
        </div>

        <%- include('./partials/footer') -%>