* {
  font-family: "Gentium Plus", serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif, Arial;
  height: 100vh;
  background: #bdbdbd;
}

.container1 {
  display: flex;
  flex-direction: row;

}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #2E004F;
  width: 20%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
  padding: 10px;
}

.logo img {
  margin-bottom: 10px;
  width: 90%;
}


.sidebar-link,
.sidebar-button {
  display: block;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
}

.sidebar-link span i {
  color: #ffffff;
}

.sidebar-link:hover,
.sidebar-button:hover {
  background-color: #4A006F;
}

.sidebar-button {
  font-size: 1rem;
}

footer {
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index: 2;
  text-align: center;
  margin-left: 10px;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: small;
}




.container2 {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 10px;
  padding: 10px;
  width: 100%;

}



.profile-form {

  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

legend {
  padding: 0 10px;
  font-size: large;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="url"],
input[type="text"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4A006F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #69008A;
}