    <!-- Footer -->
    <footer>
        <p>&copy; 2025 GlowSpace. All rights reserved.</p>
    </footer>
<script defer src="/axios/dist/axios.min.js"></script>
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/home.js"></script>
</body>
</html>