<!-- Header -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="<%= '/images/GlowSpace.png' %>" height="30" alt="GlowSpace Logo" loading="lazy"/>
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/" class="custom-link"> Home</a></li>
      <li><a href="#" class="custom-link">About</a></li>

      <li class="active"><a href="<%= currentPath.includes('salons') ? '../salons' : './salons' %>" class="custom-link"> Home</a></li>
      <li><a href="#" class="custom-link"> Book</a></li>
      <li><a href="<%= currentPath.includes('salons') ? '../about' : './about' %>" class="custom-link">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/admin/signup" class="custom-link"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/admin/login" class="custom-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>