
  .button {
    display: block;
    width: 270px; /* Optimal width for buttons */
    padding: 40px;
    margin: 10px;
    background-color: #C4C4C4; 
    color: #2E004F; 
    text-decoration: none;
    text-align: center;
    font-size:large;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #b0b0b0; /* Slightly darker gray */
  }
